@import "variables";

.cards-sucursales {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px 0;

    .card-sucursal {
        border-radius: 25px;
        overflow: hidden;
        background-color: $amarillo;
        .list-group-item {
            background-color: $amarillo;
        }
        .card-link {
            text-decoration: none;
            color: $rojo;
        }
    }
}

.card-link:hover {
    @extend .card-link-hover;
    
}

@media (max-width: 768px) {

    .cards-sucursales {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .card-sucursal {
            margin: 30px 0;
        }
    }
    }
    
    