@import "variables";

.navbar {
    background-color: $amarillo;
    height: $ancho-header;

    .navbar-toggler {
        border: none;
    }

    .nav-link  {
        @extend .card-link-hover;
    }
}

